name: "test"

on:
  pull_request:
    branches:
      - "master"
  push:
    branches:
      - "master"

jobs:
  test-auto:
    name: "Test"
    runs-on: "ubuntu-latest"

    steps:
      - uses: actions/checkout@v2
      - uses: actions/checkout@v2
        with:
          repository: git@github.com:zzambers/test-autoupdated.git
          ssh-key: ${{ secrets.UPDATER_PRIV_KEY }}
          path: test-autoupdated
      - name: Run
        run: git branch ; git remote --verbose show ; find .
