name: "test"

on:
  pull_request:
    branches:
      - "master"
  push:
    branches:
      - "master"

jobs:
  test-auto:
    name: "Test"
    runs-on: "ubuntu-latest"

    steps:
      - uses: actions/checkout@v2
      - uses: actions/checkout@v2
        with:
          repository: zzambers/test-autoupdated
          ssh-key: ${{ secrets.UPDATER_PRIV_KEY }}
          path: test-autoupdated
      - name: Run
        run: |
          set -eux
          echo "${PATH}"
          PATH="${PATH}:${HOME}/bin"
          echo "${PATH}"
          mkdir -p "${HOME}/bin"
          curl -f -L -o "${HOME}/bin/git-remote-hg" "https://raw.githubusercontent.com/mnauw/git-remote-hg/v1.0.0/git-remote-hg"
          chmod +x "${HOME}/bin/git-remote-hg"
          type git-remote-hg
          if ! curl -s -I "https://github.com/zzambers/test-autoupdater/releases/download/hg-files-latest/hg-forest-top.tar.xz" | head -n 1 | grep -q '404 Not Found' ; then
            curl -f -L -o "hg-forest-top.tar.xz" "https://github.com/zzambers/test-autoupdater/releases/download/hg-files-latest/hg-forest-top.tar.xz"
            tar -xJf hg-forest-top.tar.xz -C test-autoupdated/.git
          fi
          #git branch
          #git remote --verbose show
          #echo "$( git rev-parse HEAD )" > commit_id
          pushd test-autoupdated
          git config user.name github-actions
          git config user.email github-actions@github.com
          git branch
          #git remote --verbose show
          #cat ../commit_id >> generated
          #git add -A
          #git commit -m "generated by: $( cat ../commit_id )"
          #git push
          git fetch "hg::http://hg.openjdk.java.net/jdk8u/jdk8u" "branches/default:jdk8u/jdk8u"
          popd
          tar -cJf hg-forest-top.tar.xz -C test-autoupdated/.git --exclude hg/hg hg

      - uses: eine/tip@master
        with:
          tag: hg-files-latest
          token: ${{ secrets.GITHUB_TOKEN }}
          files: |
            hg-forest-top.tar.xz
